/* fix laggy guild scroller on linux because discord dum */
.scroller-3X7KbA {
    contain: unset;
  }
  [class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
  [class^="channelTextArea"] [class^="buttons-"] > button, /* Gift Button */
  [class^="upsellVisible-"], /* Banner Nitro Upsell Header in the user modal */
  [class^="premiumIconWrapper"], /* Nitro Icon in top right on Banners */
  [class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
  [class^="emojiSection-"] [class*="shinyButton-"], /* "Get Nitro" button in Emoji/Sticker modal" */
  [class*="tryItOutSection-"], /*try nitro banner section on profile editor*/
  [class^="premiumIcon"], /* Try remove booster badge */
  [class^="customizationSection-"] + [class^="upsellContainer-"], /* Per server profile customizations*/
  [class^="customizationSection-"][class*="disabled-"], /* Per server profile customizations*/
  [class*="bannerNitroUpsell-"], /* "Unlock Banner" in profile editor*/
  [class^="imageUploaderHint-"],
  [class^="imagePickerContainer-"] > [class^="optionBox-"]:nth-child(2) /* Remove gif option from profile pic upload option*/
  {
      display: none !important;
  }
  @font-face {
      font-family: "Dashless";
      src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
  }
  
  li[innerText="Nitro"] {
    display: none !important;
  }
  li[innerText="Shop"] {
    display: none !important;
  }
  
  /* Remove useless tabs from app homepage */
  .channel_c91bad:nth-child(2)[aria-posinset="1"] {
    top: 0px;
    position: fixed;
    z-index: 10000;
    background: var(--bg-overlay-3, var(--background-secondary));
    width: 14rem;
    height: 3.7rem;
  }
  .channel_c91bad:nth-child(2) > div {
    margin-top: 13px;
    width: 2.5rem;
    height: 2rem;
    background: var(--background-tertiary);
    padding-left: 0;
    margin-left: 6px;
    margin-right: 0;
  }
  .channel_c91bad:nth-child(2) > div > a > div > div.avatar_f9647d > svg.linkButtonIcon_c91bad {
    left: 5.8rem;
    position: fixed;
  }
  .channel_c91bad:nth-child(2) > div > a > div > div.content_f9647d {
    display: none;
  }
  .channel_c91bad:nth-child(3) {
    display: none;
  }
  .channel_c91bad:nth-child(4) {
    display: none;
  }
  
  .privateChannelsHeaderContainer_c47fa9 {
    margin-top: 4px;
    padding-top: 13.5px;
    height: 2rem;
    margin-bottom: 10px;
  }
  
  .privateChannelsHeaderContainer_c47fa9 > .headerText_c47fa9 {
    color: #b9b9b9;
  }
  
  .privateChannels_f0963d {
    background: rgba(0,0,0,0) !important;
  }
  
  .searchBar_f0963d {
    background: none !important;
    left: 7.15rem;
    z-index: 20000;
    top: 4px;
    box-shadow: none;
    position: fixed;
  }
  
  .searchBar_f0963d > button {
    visibility: hidden;
  }
  .searchBar_f0963d > button:after {
    content: "Find/start a conversation";
    visibility: visible;
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: var(--background-tertiary);
    color: #dddddd;
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 2rem;
    top: 11px;
  }
  
  .listItem_c96c45:nth-child(3) {
    margin-top: 11.5px;
  }
  /* --- */