.ab_dropdown {
  background-color: #212121 !important
}

.about-info-box__heading {
  color: #ff8700 !important
}

.ad502-room {
  background-color: #212121 !important;
  box-shadow: #303030 0 1px 3px;
  color: #ff8700 !important
}

.answer-votes {
  background-color: #303030 !important;
  color: #212121 !important
}

.answered .mini-counts span {
  color: green !important
}

.avatar,
.timeline-comment-avatar {
  filter: opacity(75%)
}

.bg-black-050 {
  background-color: transparent !important
}

.bg-white {
  background-color: #212121 !important
}

.BigQuote {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.blankslate {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.blob-code-addition .x {
  background-color: #006000 !important;
  color: #dedede !important
}

.blob-code-addition {
  background-color: rgba(64, 255, 64, .1) !important
}

.blob-code-deletion .x {
  background-color: maroon !important;
  color: #dedede !important
}

.blob-code-deletion {
  background-color: rgba(255, 0, 0, .2) !important
}

.blob-code-hunk {
  background-color: #212121 !important;
  border-color: #585858 !important
}

.blob-code-inner {
  color: #fff !important
}

.blob-code {
  background-color: #212121 !important;
  color: #fff !important
}

.blob-num {
  background-color: #212121 !important;
  color: #585858 !important
}

.border-bottom,
.border-top {
  border-color: #212121 !important
}

.border {
  border-color: purple !important
}

.bottom-notice {
  background-color: #212121 !important
}

.bounty-indicator,
.bounty-indicator-tab {
  background-color: violet !important
}

.Box-header {
  background-color: #212121 !important
}

.Box-row--focus-gray.navigation-focus {
  background-color: #585858 !important;
  color: #ff8700 !important
}

.Box {
  background-color: #212121 !important
}

.boxed-group * {
  border-color: #303030 !important
}

.boxed-group article {
  background-color: #212121 !important;
  color: #fff !important
}

.boxed-group-inner {
  background-color: #212121 !important
}

.boxed-group>h3 {
  background-color: #444 !important;
  color: #ff8700 !important
}

.branch-a-b-count .meter {
  background-color: #ff0 !important
}

.branch-action-body div {
  border-color: #585858 !important
}

.branch-action-body {
  background-color: #212121 !important;
  border-color: #585858 !important
}

.branch-action-state-clean .branch-action-icon {
  background-color: green !important
}

.branch-action-state-dirty .branch-action-icon,
.branch-action-state-unknown .branch-action-icon,
.branch-action-state-unstable .branch-action-icon {
  background-color: #ff0 !important;
  color: #fff !important
}

.branch-group-heading,
.branch-infobar,
.branch-name,
.more-branches {
  background-color: #212121 !important;
  border-color: #585858 !important
}

.branch-group-name,
.branch-summary,
.text-shadow-light {
  color: #fff !important;
  text-shadow: none !important
}

.breadcrumb .repo-root.js-repo-root a {
  color: #00f !important
}

.breadcrumb strong.final-path {
  color: #fff !important
}

.btn--top:hover {
  background-color: #303030 !important
}

.btn--top {
  background-color: #212121 !important;
  color: #fff !important
}

.btn-primary,
.issues-listing .btn-primary {
  background-color: green !important;
  background-image: linear-gradient(green, #004000) !important;
  color: #000 !important;
  filter: opacity(62.5%)
}

.btn:hover {
  background-color: #585858 !important
}

.btn {
  background-image: linear-gradient(to bottom, #303030, #212121) !important;
  border-color: #303030 !important;
  color: #ff8700 !important
}

.build-status-item .build-status-details {
  color: #00f !important
}

.build-status-item {
  background-color: #444 !important;
  color: #ff8700 !important
}

.capped-card h3 a {
  color: #ff8700 !important
}

.capped-card h3 {
  background-color: #444 !important
}

.capped-card-content {
  background-color: #212121 !important
}

.capped-list th {
  background-color: #585858 !important;
  color: #ff8700 !important
}

.capped-list tr:nth-child(2n) {
  background-color: #212121 !important
}

.Cat1HL {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.Cat2HL {
  background-color: #444 !important
}

.Cat3HL {
  background-color: #585858 !important
}

.catlinks {
  background-color: #212121 !important;
  border-color: #444 !important;
  color: #ff8700 !important
}

.cdd {
  color: rgba(255, 0, 0, .65) !important
}

.comment i {
  color: violet !important
}

.comment-form-head.tabnav {
  background-color: #212121 !important
}

.comment-reactions .btn-link {
  color: #fff !important
}

.comment-reactions .user-has-reacted {
  background-color: #212121 !important
}

.commentarea .menuarea {
  background-color: #212121 !important
}

.commentarea>.usertext {
  background-color: #212121 !important
}

.comments-link {
  color: green !important
}

.comments-page .panestack-title {
  background-color: #212121 !important
}

.commit *,
.commit-group-title .octicon-git-commit *,
.commit-icon .octicon *,
.commit-meta * {
  border-color: #303030 !important
}

.commit-author-section {
  color: #fff !important
}

.commit-author {
  color: #fff !important
}

.commit-branches * *,
.commit-tease *,
.commit-title * {
  color: #ff8700 !important
}

.commit-branches *,
.commit-tease,
.commit-title {
  background-color: rgba(0, 0, 255, .2) !important;
  border: none !important
}

.commit-desc pre {
  background-color: transparent !important;
  color: #fff !important
}

.commit-meta .sha-block .sha {
  color: #fff !important
}

.commit-meta .sha-block {
  color: #585858 !important
}

.commit-meta.commit-author-section {
  background-color: transparent !important;
  color: #fff !important
}

.commit-meta {
  background-color: #212121 !important;
  color: #fff !important
}

.commit-meta {
  color: #585858 !important
}

.commit-ref .user,
code.commit-sha .user {
  color: #0ff !important
}

.commit-ref,
code.commit-sha {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.commit-tease-contributors {
  background-color: #212121 !important
}

.commit,
.commit-group-title .octicon-git-commit,
.commit-icon .octicon,
.commit-meta {
  background-color: #212121 !important
}

.commit.table-list-item {
  border-color: #212121 !important
}

.commits-listing:before {
  background-color: #212121 !important
}

.compare-pr-placeholder {
  background-color: #585858 !important
}

.completeness-indicator-problem {
  background-color: #ff0 !important;
  color: #fff !important
}

.completeness-indicator-success {
  background-color: green !important
}

.contrib-number {
  color: #ff8700 !important
}

.conversation-list-heading .inner {
  background-color: #212121 !important
}

.copyable-terminal {
  background-color: #212121 !important
}

.counter {
  background-color: #444 !important;
  color: #ff8700 !important
}

.deletions {
  color: red !important
}

.diffbar,
.empty-cell {
  background-color: #212121 !important
}

.diffstat-bar {
  color: #fff !important
}

.discussion-item .renamed-is,
.discussion-item .renamed-was,
.discussion-item-entity {
  color: #ff8700 !important
}

.discussion-item-closed .discussion-item-icon {
  background-color: red !important;
  color: #ff8700 !important
}

.discussion-item-icon.octicon {
  color: #ff8700 !important
}

.discussion-item-icon {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.discussion-timeline-actions {
  background-color: #212121 !important
}

.discussion-timeline:before {
  background-color: purple !important
}

.donut-chart>.pending {
  fill: #ff0 !important
}

.drag-and-drop {
  background-color: #212121 !important
}

.dropdown-divider {
  background-color: purple !important
}

.dropdown-item:hover {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.dropdown-item {
  color: #fff !important
}

.dropdown-menu {
  background-color: #444 !important;
  border-color: purple !important;
  color: #ff8700 !important
}

.ellipsis-expander,
.hidden-text-expander a {
  background-color: #212121 !important
}

.entry-title a {
  color: #00f !important
}

.facebox-popup .octicon {
  color: #fff !important
}

.facebox-popup .owner-select-target:hover {
  background-color: #303030 !important
}

.facebox-popup .owner-select-target {
  background-color: #212121 !important;
  color: #fff !important
}

.facebox-popup {
  background-color: #212121 !important;
  color: #fff !important
}

.FeatureByline {
  background-color: #212121 !important;
  border: none !important
}

.file-header {
  background-color: #212121 !important
}

.file-history-tease .author a {
  color: #fff !important
}

.file-history-tease .participation .quickstat strong {
  color: #fff !important
}

.file-history-tease .participation a {
  color: #585858 !important
}

.file-history-tease .participation {
  background-color: #212121 !important;
  color: #fff !important
}

.file-history-tease-header {
  background-color: #212121 !important
}

.file-info-divider {
  background-color: #303030 !important
}

.file-wrap * {
  background-color: transparent !important
}

.file-wrap {
  color: #fff !important
}

.file {
  color: #fff !important
}

.files * {
  color: #fff !important
}

.files tbody tr:hover * {
  background-color: #444 !important
}

.files tbody tr:nth-child(even) {
  background-color: #242424 !important
}

.files tbody tr:nth-child(odd) {
  background-color: #212121 !important
}

.files tbody tr {
  border-color: #212121 !important
}

.filter-bar {
  background-color: #585858 !important
}

.filter-item,
a.filter-item {
  color: #fff !important
}

.filter-item:hover,
a.filter-item:hover {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.filter-item.selected,
a.filter-item.selected {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.flash {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.form-control {
  background-color: #212121 !important;
  border-color: #303030 !important
}

.full-commit * {
  text-shadow: none !important
}

.full-commit {
  background-color: #212121 !important;
  border-color: #585858 !important
}

.gh-header-number {
  color: #585858 !important
}

.gh-header {
  background-color: #212121 !important
}

.graphs .area {
  fill: green
}

.Header a {
  color: #ff8700 !important
}

.Header {
  background-color: #585858 !important;
  border-bottom-color: #303030 !important
}

.Headline {
  background-color: #444 !important
}

.insertions {
  color: green !important
}

.instruction,
.sakaiCopyrightInfo {
  color: #fff !important
}

.issue-meta {
  color: #585858 !important
}

.issues-listing a {
  color: #fff !important
}

.js-chromeless-input-container,
.js-site-search-form input {
  background-color: #212121 !important;
  border-color: #303030 !important
}

.js-directory-link {
  color: #aec6cf !important
}

.js-select-menu-tab {
  background-color: #444 !important;
  color: #ff8700 !important
}

.kpbb {
  background-image: linear-gradient(to bottom, #4040ff, #00f) !important
}

.label-key b {
  color: #ff8700 !important
}

.label-key {
  color: #fff !important
}

.lang {
  color: #ff8700 !important
}

.link .usertext .md {
  background-color: #212121 !important
}

.link-gray-dark,
.text-gray-dark {
  color: #fff !important
}

.link.promotedlink.promoted {
  background-color: #212121 !important
}

.linkinfo {
  background-color: #212121 !important
}

.linklisting .odd {
  background-color: #212121 !important
}

.listHier th {
  background-color: #444 !important
}

.listing-chooser .grippy:after {
  border-right: none !important
}

.listing-chooser .grippy {
  background-color: #212121 !important
}

.listing-chooser .intro {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.listing-chooser li a .description {
  color: #ff8700 !important
}

.listing-chooser li a {
  color: #fff !important
}

.listing-chooser li.selected {
  background-color: #303030 !important;
  box-shadow: none
}

.listing-chooser li {
  background-color: #212121 !important
}

.listing-chooser {
  background-color: #212121 !important
}

.markdown-body a,
.markdown-body table * a {
  color: #aec6cf !important
}

.markdown-body code,
.markdown-body pre,
.markdown-body table * code,
.markdown-body table * pre {
  background-color: #212121 !important
}

.markdown-body hr,
.markdown-body table * hr {
  background-color: #303030 !important
}

.markdown-body img,
.markdown-body table * img {
  background-color: #212121 !important
}

.markdown-body,
.markdown-body table * {
  background-color: #212121 !important;
  border-color: purple !important;
  color: #fff !important
}

.menu-item:hover {
  background-color: #303030 !important
}

.menu-item.selected {
  background-color: #444 !important
}

.menu {
  background-color: #212121 !important
}

.merge-message {
  background-color: #585858 !important
}

.merge-status-item {
  background-color: #444 !important
}

.merged.octicon,
.octicon-git-merge {
  color: violet !important
}

.module__text {
  color: #fff !important
}

.more-repos {
  background-color: #444 !important;
  box-shadow: inset 0 1px 0 #303030 !important
}

.morelink .nub {
  background-color: #212121 !important
}

.muted-link {
  color: #fff !important
}

.mw-body .external {
  opacity: .5 !important
}

.mw-wiki-logo {
  filter: opacity(50%)
}

.navbox .navbox-title,
.navbox .th {
  background-color: #444 !important
}

.navbox-abovebelow,
.navbox-subgroup,
.navbox-title,
th.navbox-group {
  background-color: #585858 !important
}

.navbox-even {
  background-color: #212121 !important
}

.navbox {
  background-color: #212121 !important;
  border-color: #444 !important;
  color: #ff8700 !important
}

.navIntraTool,
.navPanel {
  background-color: #212121 !important
}

.navmenu ul {
  background-color: #212121 !important
}

.new-discussion-timeline .closed-banner {
  background-color: purple !important;
  border-color: #212121 !important
}

.new-post-activity {
  background-color: #212121 !important
}

.new-user-avatar-cta {
  background-color: #212121 !important;
  border-color: #585858 !important;
  color: #ff8700 !important
}

.news .alert .pull-info {
  background-color: #585858 !important
}

.newuser {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.notifications-list a {
  color: #fff !important
}

.notifications-list li {
  background-color: #212121 !important
}

.octicon-alert {
  color: #fff !important
}

.octicon-check {
  color: green !important
}

.octicon-clippy {
  color: #ff8700 !important
}

.octicon-diff {
  color: #fff !important
}

.octicon-markdown {
  color: #585858 !important
}

.octicon-primitive-dot {
  color: #ff0 !important
}

.octicon-repo {
  color: base1 !important
}

.octicon-x {
  color: red !important
}

.org-name {
  color: #ff8700 !important
}

.orghead {
  background-color: #212121 !important;
  border-bottom: 0 !important;
  border-color: purple !important;
  color: #ff8700 !important
}

.outline-box-highlighted {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.overall-summary {
  border-color: #303030 !important
}

.page-numbers.current {
  background-color: #ff8700 !important;
  color: #212121 !important
}

.page-numbers {
  background-color: green !important;
  color: #87875f !important
}

.pagehead-tabs-item,
.reponav-item {
  background-color: #212121 !important;
  border-color: transparent !important;
  color: #fff !important
}

.pagehead-tabs-item:visited,
.reponav-item:visited {
  color: #fff !important
}

.pagehead-tabs-item.selected,
.reponav-item.selected {
  background-color: #212121 !important;
  border-color: red #444 transparent !important
}

.pagehead.orghead {
  background-color: #212121 !important
}

.pagehead.repohead {
  background-color: #212121 !important
}

.pagination .current {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.pagination .disabled:hover {
  background-color: #212121 !important
}

.pagination .disabled {
  background-color: #212121 !important;
  color: #585858 !important
}

.pagination .gap {
  background-color: #212121 !important;
  color: #585858 !important
}

.pagination a:hover {
  background-color: #303030 !important;
  color: #212121 !important
}

.pagination a {
  background-color: #212121 !important;
  border-color: #212121 !important;
  color: #fff !important
}

.pinned-repo-item.border {
  border-color: #585858 !important
}

.pl-c {
  color: #585858 !important
}

.pl-c1 {
  color: #00f !important
}

.pl-e {
  color: #ff0 !important
}

.pl-en {
  color: #00f !important
}

.pl-k {
  color: green !important;
  font-weight: 700 !important
}

.pl-md {
  background-color: transparent !important;
  color: red !important
}

.pl-mi1 {
  background-color: transparent !important;
  color: green !important
}

.pl-pds {
  color: #0ff !important
}

.pl-s {
  color: #0ff !important
}

.pl-smi {
  color: #fff !important
}

.pl-v {
  color: green !important;
  font-weight: 700 !important
}

.post * {
  overflow: auto !important
}

.post div.entry blockquote {
  background-color: #212121 !important
}

.post div.entry kbd {
  background-color: #212121 !important;
  border-color: #585858 !important;
  box-shadow: none !important;
  color: #ff8700 !important;
  text-shadow: 0 1px 0 #000 !important
}

.post div.entry {
  background-color: #212121 !important;
  color: #fff !important
}

.post h2 a {
  color: #ff8700 !important
}

.post h2 {
  background-color: #212121 !important
}

.post pre.mode-line {
  overflow: visible !important
}

.post-actions {
  background-color: #212121 !important
}

.post-menu a {
  color: violet !important
}

.post-signature a {
  color: #0ff !important
}

.post-signature span.relativetime {
  color: #ff8700 !important
}

.post-signature.owner .user-info .user-details a {
  color: green !important
}

.post-signature {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.post-tag::before {
  background-color: #212121 !important
}

.post-tag {
  background-color: #303030 !important;
  color: #212121 !important
}

.post {
  background-color: #212121 !important
}

.pr-toolbar {
  background-color: #212121 !important
}

.progress-bar {
  background-color: #303030 !important
}

.question-status {
  background-color: #212121 !important
}

.QuotedText {
  color: violet !important
}

.range-editor {
  background-color: #212121 !important
}

.repohead-details-container a {
  color: #fff !important
}

.repository-content .RecentBranches {
  background-color: #212121 !important;
  border-color: purple !important
}

.repository-description {
  color: #fff !important
}

.repository-meta .edit-repository-meta label {
  color: #fff !important
}

.repository-sidebar {
  background-color: #212121 !important
}

.result__snippet b {
  color: #ff8700 !important
}

.result__snippet {
  color: #fff !important
}

.result--sep--hr:before {
  background-color: #303030 !important
}

.result.highlight {
  background-color: #212121 !important
}

.review-thread-reply .inline-comment-form {
  background-color: #212121 !important
}

.review-thread-reply {
  background-color: #212121 !important
}

.right .tabnav-extra {
  color: #585858 !important
}

.s-label {
  color: #fff !important
}

.s-topbar, .s-topbar {
  background-color: #000;
}

.sbib_a {
  background: linear-gradient(to bottom, #212121, #212121) !important
}

.scope-badge {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.search__autocomplete>.acp-wrap strong {
  color: #87875f !important
}

.search__autocomplete>.acp-wrap {
  background-color: #212121 !important
}

.search__autocomplete>.acp-wrap>.acp--highlight {
  background-color: #212121 !important;
  color: #87875f !important
}

.search--adv {
  background-color: #212121 !important
}

.search--header {
  background-color: #212121 !important
}

.select-menu-filters {
  background-color: #585858 !important;
  color: #ff8700 !important
}

.select-menu-header,
.select-menu-header * {
  background-color: #212121 !important;
  color: #ff8700 !important;
  text-shadow: none !important
}

.select-menu-item-text.navigation-focus,
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item.navigation-focus.selected {
  background-color: #303030 !important;
  color: #ff8700 !important
}

.select-menu-item {
  background-color: #212121 !important
}

.select-menu-modal * {
  color: #fff !important
}

.select-menu-modal {
  border-color: #fff !important
}

.select-menu-tab-nav.selected,
.select-menu-tabs a.selected {
  background-color: #303030 !important;
  color: #212121 !important
}

.sfbgg {
  background-color: #212121 !important
}

.side .usertext-body .md {
  background-color: #212121 !important
}

.side {
  background-color: #212121 !important
}

.sidebox .spacer {
  background-color: #212121 !important;
  color: #ff8700 !important
}

.signed-commit-header {
  background-color: #212121 !important
}

.simple-box {
  background-color: #212121 !important
}

.site-footer-links * {
  color: #fff !important
}

.site-wrapper>#header_wrapper {
  background-color: #212121 !important
}

.site-wrapper>#header_wrapper>#header {
  background-color: #212121 !important
}

.sitestr {
  color: #00f !important
}

.so-header .navigation .-list .-item :hover {
  background-color: green !important;
  color: #ffffaf !important
}

.so-header a {
  color: green !important
}

.so-header {
  background-color: #444 !important;
  color: #ff8700 !important
}

.social-count {
  background-color: #212121 !important;
  border-color: #303030 !important;
  color: #ff8700 !important
}

.State--green {
  background-color: green !important;
  color: #212121 !important
}

.State--red {
  background-color: red !important;
  color: #212121 !important
}

.state-closed {
  background-color: red !important
}

.state-open {
  background-color: green !important
}

.State,
.State:visited {
  color: #fff !important
}

.state {
  color: #ff8700 !important
}

.stats-switcher-wrapper .numbers-summary li a {
  color: #fff !important
}

.stats-switcher-wrapper {
  background-color: #212121 !important
}

.subnav-item:hover {
  background-color: #585858 !important
}

.subnav-item:visited {
  color: #fff !important
}

.subnav-item.selected {
  background-color: #212121 !important
}

.subnav-item {
  color: #fff !important
}

.subnav-links a:hover {
  background-color: #212121 !important
}

.subnav-search input {
  border-color: #585858 !important
}

.suggester li.navigation-focus {
  background-color: #303030 !important
}

.suggester {
  background-color: #444 !important
}

.summary-stats li .num {
  color: #ff8700 !important
}

.sunken-menu-item.selected:after {
  background-color: #ff8700 !important
}

.sunken-menu-item.selected {
  background-color: #212121 !important;
  border-color: #444 !important;
  color: #ff8700 !important
}

.sunken-menu-item {
  border-color: #212121 !important
}

.sunken-menu-separator:before {
  background-image: linear-gradient(to right, #212121 70%, #212121 100%) !important
}

.sunken-menu:after {
  background-image: linear-gradient(transparent, #212121) !important
}

.sunken-menu:before {
  background-image: linear-gradient(#212121, transparent) !important
}

.sunken-menu {
  background-image: linear-gradient(to right, #212121 0, #212121 8px) !important;
  box-shadow: 1px 0 0 #212121 inset
}

.table-list li,
.table-list tr {
  background-color: #212121 !important
}

.table-list li:hover,
.table-list tr:hover {
  background-color: #444 !important
}

.table-list-cell .commit-title {
  background-color: transparent !important;
  color: #fff !important
}

.table-list-header-toggle .btn-link.selected {
  color: #fff !important
}

.table-list-header-toggle .btn-link {
  color: #585858 !important
}

.table-list-header {
  background-color: #212121 !important
}

.tabmenu li a {
  background-color: #212121 !important
}

.tabnav-tab,
a.tabnav-tab {
  border-color: transparent !important;
  color: #585858 !important
}

.tabnav-tab.selected,
a.tabnav-tab.selected {
  background-color: #212121 !important;
  background-image: linear-gradient(#212121, #212121) !important;
  border-color: purple !important;
  color: #ff8700 !important
}

.tagged-interesting {
  background-color: #444 !important
}

.task-list-item.hovered {
  background-color: #212121 !important
}

.text-diff-added {
  color: green !important
}

.text-diff-deleted {
  color: red !important
}

.text-emphasized {
  color: #b39eb5 !important
}

.text-gray-dark {
  color: #fff !important
}

.text-pending .octicon-primitive-dot {
  color: #ff0 !important
}

.text-pending {
  color: #ff0 !important
}

.text-red {
  color: red !important
}

.textarea-wrapper {
  background-color: #212121 !important;
  color: #fff !important
}

.thing .title {
  color: #fff !important
}

.thread-subscription-status {
  background-color: #212121 !important
}

.tile--c {
  background-color: #303030 !important;
  color: #87875f !important
}

.tile--info__expand {
  background-color: #303030 !important
}

.tile--info {
  background-color: #212121 !important
}

.timeline-comment-header {
  background-color: #212121 !important
}

.timeline-comment-wrapper {
  border-color: #212121 !important
}

.timeline-comment {
  background-color: #212121 !important;
  border-color: #303030 !important
}

.timeline-commits .commit-meta .commit-id {
  color: #585858 !important
}

.timeline-commits .commit-meta {
  background-color: #212121 !important
}

.title a:visited {
  color: #585858 !important
}

.title a {
  color: #fff !important
}

.titlebox form.toggle {
  background-color: #212121 !important;
  color: #fff !important
}

.titlebox {
  background-color: #212121 !important
}

.top-footer-links a {
  color: green !important
}

.topbar-dialog .current-site-container {
  background-color: #212121 !important
}

.topbar-dialog .header a {
  color: #ff8700 !important
}

.topbar-dialog .header {
  background-color: #212121 !important
}

.topbar-dialog .site-link {
  color: #ff8700 !important
}

.topbar-dialog {
  background-color: #212121 !important;
  box-shadow: #303030 5px 5px 5px
}

.topic-tag.topic-tag-link {
  background-color: #212121 !important;
  color: #fff !important
}

.type-icon-state-closed {
  color: rgba(255, 0, 0, .65) !important
}

.type-icon-state-merged {
  color: violet !important
}

.type-icon-state-open {
  color: rgba(0, 176, 0, .65) !important
}

.unanswered .mini-counts span {
  color: #fff !important
}

.underline-nav-item.selected {
  border-bottom-color: red !important;
  color: #fff !important
}

.underline-nav-item {
  color: #fff !important
}

.upload-progress {
  background-color: #212121 !important;
  box-shadow: 1px 0 0 #212121 inset
}

.uploaded-files {
  background-color: #212121 !important
}

.user-profile-nav {
  background-color: #212121 !important;
  border-color: purple !important
}

.user-profile-sticky-bar:after {
  background-color: #212121 !important;
  border-color: purple !important
}

.val-info {
  background-color: transparent !important;
  color: #fff !important
}

.viz {
  background-color: #585858 !important
}

.vote .star-off {
  filter: opacity(75%)
}

.vote .star-on {
  filter: opacity(50%) !important
}

.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%)
}

.vote {
  background-color: #212121 !important
}

.zci {
  background-color: #212121 !important;
  color: #fff !important
}

* {
  border-color: #212121 !important
}

* {
  border-color: purple !important
}

* {
  border-color: purple !important
}

#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #212121, #212121) !important
}

#appbar {
  background-color: #212121 !important
}

#content {
  background-color: #212121 !important;
  color: #fff !important
}

#fbar {
  background-color: #212121 !important
}

#footer #footer-sites th {
  color: #ff8700 !important
}

#footer {
  background-color: #585858 !important;
  color: #fff !important
}

#gs_taif0,
#sb_ifc0.sbib_b,
input#lst-ib {
  background: 0 0 !important
}

#h-chat-link {
  color: #ff8700 !important
}

#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

#hdtbMenus.hdtb-td-o {
  background-color: #212121 !important
}

#hdtbSum {
  background-color: #212121 !important
}

#header-bottom-right {
  background-color: #212121 !important
}

#header {
  background-color: #444 !important
}

#hlogo a {
  filter: opacity(75%)
}

#hnmain .c00 {
  color: #fff !important
}

#hnmain .comhead {
  color: #ff8700 !important
}

#hnmain a.hnuser {
  color: #ff0 !important
}

#hnmain span.age a {
  color: #585858 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1) a,
#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1) a {
  color: #000 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table,
#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>table {
  background-color: #ff8700 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1)>tbody:nth-child(1)>tr:nth-child(2),
#hnmain>tbody:nth-child(1)>tr:nth-child(2) {
  background-color: #212121 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(2) {
  background-color: #212121 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(3)>td:nth-child(1) {
  background-color: #212121 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(4) {
  background-color: #212121 !important
}

#hnmain>tbody:nth-child(1)>tr:nth-child(4)>td:nth-child(1)>table:nth-child(2)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(1) {
  background-color: #ff8700 !important
}

#hot-network-questions a {
  color: #0ff !important
}

#hot-network-questions h4 a.js-gps-track {
  color: #ff8700 !important
}

#lst-ib,
.sbsb_a {
  background-color: #212121 !important
}

#menu,
.topnav-container {
  background-color: #212121 !important
}

#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important
}

#mw-head,
#mw-panel {
  background-color: #212121 !important;
  color: #ff8700 !important
}

#mw-head {
  background-color: #212121 !important;
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #212121, #212121) !important
}

#question-header .question-hyperlink {
  color: #ff8700 !important
}

#readme .plain {
  background-color: #212121 !important
}

#sidebar .community-bulletin .bulletin-item-content a {
  color: #ff8700 !important
}

#sidebar .module.community-bulletin {
  background-color: #212121 !important;
  color: #ff8700 !important
}

#sidebar .question-hyperlink {
  color: #0ff !important
}

#sr-header-area .srdrop .selected {
  color: #fff !important
}

#sr-header-area #sr-more-link {
  background-color: #212121 !important
}

#sr-header-area {
  background-color: #212121 !important
}

#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #ff8700, #212121);
  color: #ffffaf !important
}

#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #212121, #212121);
  color: #ff8700 !important
}

#toc,
#toctitle,
.ambox,
.infobox,
.toclevel-1 {
  background-color: #212121 !important;
  border-color: #444 !important;
  color: #ff8700 !important
}

#toolMenu li {
  background-color: #212121 !important
}

a:visited {
  color: #b39eb5 !important
}

a:visited {
  color: #b39eb5 !important
}

a.comment-user.owner {
  background-color: green !important;
  color: #87875f !important
}

a.label {
  color: #000 !important;
  filter: opacity(75%)
}

a.storylink {
  color: #ff8700 !important;
  font-weight: 700
}

a {
  color: #aec6cf !important
}

a {
  color: #aec6cf !important
}

blockquote,
pre,
tr:hover {
  background-color: #212121 !important;
  color: #fff !important
}

blockquote,
pre {
  background-color: #212121 !important;
  color: #fff !important
}

body * {
  border-color: #444 !important
}

body.comment {
  background-color: #212121 !important
}

body {
  background-color: #212121 !important;
  color: #fff !important
}

body {
  background-color: #212121 !important;
  color: #fff !important
}

button.ajax-pagination-btn:hover {
  background-color: #303030 !important
}

button.ajax-pagination-btn {
  background-color: #212121 !important;
  color: #ff8700 !important
}

cite {
  color: green !important
}

code {
  background-color: #444 !important;
  border-color: #444 !important;
  color: #ff8700 !important
}

div.answered-accepted .mini-counts {
  background-color: green !important;
  color: #87875f !important
}

div.answered-accepted {
  background-color: green !important;
  color: #87875f !important
}

DIV.CommentBox P.CommentTitle {
  background-color: #444 !important
}

DIV.CommentBox {
  border-color: #212121 !important
}

div.commit-branches *,
div.commit.full-commit p.commit-title *,
qul.branches-list * {
  background-color: #212121 !important;
  color: #ff8700 !important
}

div.commit-branches,
div.commit.full-commit p.commit-title,
qul.branches-list {
  background-color: #212121 !important;
  color: #ff8700 !important
}

div.crp {
  background-color: #212121 !important
}

DIV.GAByline {
  background-color: #212121 !important;
  border: none !important
}

div.md {
  color: #fff !important
}

div.thumbinner {
  background-color: #212121 !important;
  border-color: #444 !important
}

div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

div.vectorTabs span {
  background-color: #212121 !important;
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

div.vectorTabs ul li {
  background-color: #212121 !important;
  background-image: none !important;
  padding: 0 1px 0 1px !important
}

div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

div.vectorTabs {
  background-image: linear-gradient(to bottom, #212121, #212121) !important
}

div#page div#header a {
  color: violet !important
}

div#page div#header {
  background-color: #212121 !important
}

div#simpleSearch #searchInput {
  background-color: #212121 !important;
  padding: .05em 0 .2em .2em !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #444 !important;
  color: #ff8700 !important
}

hr {
  background-color: #444 !important;
  color: #444 !important
}

html {
  background-color: #212121 !important
}

html {
  background-color: #212121 !important
}

img.thumbimage {
  border-color: #444 !important
}

img {
  filter: opacity(75%)
}

input,
textarea {
  background-color: #212121 !important;
  color: #fff !important
}

input,
textarea {
  background-color: #212121 !important;
  color: #fff !important
}

pre code .atn {
  color: #00f !important
}

pre code .atv {
  color: #0ff !important
}

pre code .com {
  color: #585858 !important
}

pre code .kwd {
  color: green !important
}

pre code .lit {
  color: #f0f !important
}

pre code .pln,
pre code .pun {
  color: #fff !important
}

pre code .str {
  color: #0ff !important
}

pre code .tag {
  color: green !important
}

pre code .typ {
  color: #ff0 !important
}

pre code {
  background-color: #212121 !important;
  color: #ff8700 !important
}

svg>* text {
  color: #fff !important;
  fill: #fff !important
}

table.OddEven tr:nth-child(even) {
  background-color: #242424 !important
}

table.OddEven tr:nth-child(odd) {
  background-color: #212121 !important
}

table.wikitable {
  background-color: #212121 !important;
  border-color: #444 !important;
  color: #fff !important
}

table.wikitable>*>tr>th {
  background-color: #212121 !important
}

table {
  background-color: #212121 !important
}

tr.Even {
  background-color: #212121 !important
}

tr.external {
  background-color: #444 !important
}

ul.comparison-list {
  background-color: #585858 !important
}

ul.comparison-list>li.title {
  background-color: #444 !important
}

ul.makeMenu {
  background-color: #444 !important;
  border: 1px solid #444 !important
}